//rem自己设
@mixin bg-url2($url1, $url2, $position: 0 0) {
  [data-dpr='1'] & {
    background-image: url($url1);
    background-repeat: no-repeat;
    background-position: $position;
  }
  [data-dpr='2'] & {
    background-image: url($url1);
    background-repeat: no-repeat;
    background-position: $position;
  }

  [data-dpr='3'] & {
    background-image: url($url2);
    background-repeat: no-repeat;
    background-position: $position;
  }
}