meta(charset="utf-8")
meta(content="yes" name="apple-mobile-web-app-capable")
meta(content="yes" name="apple-touch-fullscreen")
meta(content="telephone=no,email=no" name="format-detection")
meta(content="black" name="apple-mobile-web-app-status-bar-style")
style(type='text/css').
  html,body {
    min-height: 100%;
  }
script.
  window.global = window;
